
body {
    background-image: url(../img-lugar/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-login{
  width: 100%;
  height: 100vh;
}
.bloco-login {
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    border: 1px solid rgb(119, 119, 119);
    width: 30%;
    height: 50%;
}

.bloco-login {
    padding: 20px;
    margin: auto;
}

.bloco-login .faca-login {
    font-size: 20px;
    font-family: Arial,sans-serif;
    font-weight: bold;
}


.bloco-login .insira-email {
    font-family: Arial,sans-serif;
}

.bloco-login label, .bloco-login input,.bloco-login button{
  margin: 10px 5px;
  padding: 3px;
  font-size: 1rem;
}
.bloco-login input{
  border-radius:3px;
  border: black solid 1px;
  width: 100%;
  margin: 5px
  width: 80%;;
  padding: 3px;
  font-size: 1rem;
  opacity: 0.7;
  height: 40px;
  background-color: rgba(253, 253, 253, 0.9);
}

.logo {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    font-family: Arial, sans-serif;
    font-size: 1.8rem;
}

.form-group .form-control {
    width: 50%;
    opacity: 0.7;
}

.criar-conta {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.container-login{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
}

.primario{
  margin: auto;
  width: 95%;
  height: 2rem;
  padding: 10px;
  border-radius: 10px;
  border: 1px #007BFF solid;
  color: white;
  transition: 0.2s;
  font-size: 1rem;
  background-color: #007BFF;
}
.primario:hover{
  background-color: rgb(41, 144, 255);
  color: #fff;
  border: none;
}
.secundario{
  margin: auto;
  width: 95%;
  height: 2rem;
  padding: 10px;
  border-radius: 10px;
  border: 1px #007BFF solid;
  transition: 0.2s;
  font-size: 1rem;
  background-color: #fff;
  color: #007BFF;
}

.secundario:hover{
  color: #fff;
  background-color: #007BFF;
}
