
.pesquisa{
width: 90%;
}

section h2{
  font-family: Arial, sans-serif;
  font-size: 2rem;
  margin: auto;
}

.nav-filtros{
display: flex;
justify-content: flex-start;
align-items: flex-start;
width: 90%;
margin: auto;
}

.nav-filtros a{
  font-weight: bold;
  text-decoration:none;
  color: white;
  border: solid 1px rgb(0, 117, 255);
  background-color:rgb(0, 117, 255);
  transition: 0.2s;
  border-radius: 25px;
  font-size: 1.2rem;
  padding: 10px 30px;
  margin: 5px;
}

.nav-filtros a:hover{
  color: rgb(0, 117, 255);
  background-color: white;
}

.resultado-pesquisa {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto;
}

.resultado-pesquisa img {
  width: 35%;
}

.resultado-pesquisa .descricao {
  width: 45%;
}

.rtn-i {
  display: flex;
}

.resultado-pesquisa .rtn-i i {
 color: #E16C02;
 font-size: 1rem;
}

.resultado-pesquisa .rtn-i .rtn {
  margin-right: 5px;
}

.resultado-pesquisa .rtn-i .price {
  display: flex;
  font-family: Arial, sans-serif;
  font-weight: bold;
}
