@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
body{
  background-color:#ffffff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
header{
  width: 100%;
  background-color: #8080ff;
  min-height: 50px;
}
header *{
  display: flex;
}
.top_header{
  position: sticky;
  top: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid black;
  background-color: rgb(200, 200, 200);
  padding: 4px;
  box-shadow: 1px 1px 8px;
}
.top_header nav{
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top_header ul{
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.logo{
  margin-top: 5px;
  margin-left: 20px;
}
.left_header{
  display: flex;
  width: 30%;
}
.search_bar{
  padding: 5px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border: black solid 1px;
  border-right: none;
  margin: auto 0;
  margin-left: auto;
}
.search_input{
  padding: 6px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: black solid 1px;
  border-left: none;
  margin: auto 0;
}
.search_bar:focus, .search_input:focus{
  outline: none;
}
.container{
  padding: 10px;
  margin: 0 auto;
  margin-top: 5px;
  width: 100%;
  height: 200px;
  background-color:#000b72;
  display: flex;
}
/* .container ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
  align-items: center;
  list-style: none;
} */
.container .nav-da-pesquisa h3 {
  margin-left: 70px;
  color: white;
}
.bloco-all{
  display: flex;
  margin-top: 40px;
  margin-left: 70px;
}

/* .bloco-lugar input{
  margin-top: 5px;
  height: 35px;
  width: 190px;
  border: none;
} */

.bloco-lugar input{
  width: 281px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url(../icon-img/pin.png);
  background-position: 7px 9px;
  background-repeat: no-repeat;
  padding: 12px 0px 12px 40px;
  margin-top: 5px;
}

.bloco-lugar input:focus {
  border: 3px solid #555;
}

.bloco-data {
  margin-left: 40px;
}

.bloco-data .data {
  width: 180px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  background-image: url(../icon-img/calendario.png);
  background-position: 7px 9px;
  background-repeat: no-repeat;
  padding: 12px 0px 12px 40px;
  margin-top: 5px;
  margin-right: 6px;
}

.bloco-quartos {
  margin-left: 40px;
}

.bloco-quartos .room {
  width: 115px;
  margin-top: 5px;
  margin-right: 6px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url(../icon-img/cama.png);
  background-position: 7px 9px;
  background-repeat: no-repeat;
  padding: 12px 0px 12px 40px;

}

.bloco-pessoas .pessoas {
  width: 115px;
  margin-top: 5px;
  margin-right: 6px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url(../icon-img/user.png);
  background-position: 7px 9px;
  background-repeat: no-repeat;
  padding: 12px 0px 12px 40px;
}

.bloco-procura {
  margin-left: 25px;
  margin-top: 18px;
}

.bloco-procura button {
  width: 150px;
  box-sizing: border-box;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  background-color: white;
  background-image: url(../icon-img/procurar.png);
  background-position: 7px 9px;
  background-repeat: no-repeat;
  padding: 12px 0px 12px 40px;
  margin-top: 5px;
}
.bloco-all .label {
  font-weight: bold;
  color: white;
}
footer{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color:#4dff4d;
  min-height: 50px;
}
