@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
body{
  background-color:#dddddd;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}
header{
  width: 100%;
  background-color: #8080ff;
  min-height: 50px;
  z-index: 999;
}
header *{
  display: flex;
}
.top_header{
  position: sticky;
  top: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid black;
  background-color: rgb(200, 200, 200);
  padding: 4px;
  box-shadow: 1px 1px 8px;
}
.top_header nav{
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top_header ul{
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.logo{
  margin-top: 5px;
  margin-left: 20px;
}
.left_header{
  display: flex;
  width: 30%;
}
.search_bar{
  padding: 5px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border: black solid 1px;
  border-right: none;
  margin: auto 0;
  margin-left: auto;
}
.search_input{
  padding: 6px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: black solid 1px;
  border-left: none;
  margin: auto 0;
}
.search_bar:focus, .search_input:focus{
  outline: none;
}
.container{
  padding: 20px;
  margin: 0 auto;
  margin-top: 5px;
  width: 100%;
  background-color:#000b72;
  display: flex;
  justify-content: center;
  color: white;
}
.container .nav-da-pesquisa h3 {
  margin-top:5px;
  margin-bottom: 10px;
}
.bloco-all{
  display: flex;
  margin: 0 auto;
}
.bloco-all div{
  margin: 20px;
}
.bloco-lugar input{
  min-width: 180px;
  min-height: 30px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url(../icon-img/pin.png);
  background-position: 7px 9px;
  background-repeat: no-repeat;
  padding: 12px 30px;
  padding-left:40px;
}

.bloco-lugar input:focus {
  border: 3px solid #555;
}

.bloco-data {

}

.bloco-data .data {
  width: 180px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  background-image: url(../icon-img/calendario.png);
  background-position: 7px 9px;
  background-repeat: no-repeat;
  padding: 12px 0px 12px 40px;
}

.bloco-quartos .room {
  width: 115px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url(../icon-img/cama.png);
  background-position: 7px 9px;
  background-repeat: no-repeat;
  padding: 12px 0px 12px 40px;
}

.bloco-pessoas .pessoas {
  width: 115px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url(../icon-img/user.png);
  background-position: 7px 9px;
  background-repeat: no-repeat;
  padding: 12px 0px 12px 40px;
}

.bloco-procura {
  align-self: flex-end;
}

.bloco-procura button {
  width: 150px;
  box-sizing: border-box;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  background-color: white;
  background-image: url(../icon-img/procurar.png);
  background-position: 7px 9px;
  background-repeat: no-repeat;
  padding: 12px 0px 12px 40px;
}
.bloco-all .label {
  font-weight: bold;
  color: white;
}

.titulo-promocao {
  margin: 20px 20px;
  display: block;
}

.grid-main{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  flex-wrap: wrap;
}
.grid-main .div {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: left;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: calc((100% - 120px)/4);
  min-height: 400px;
  box-shadow: 0 4px 8px rgba(68,68,68,0.2);
  border: 1px solid #cccccc;
  height: 600px;
}
.info-bloco {
  flex-grow: 1;
  position: relative;
  padding: 24px;
}
.info-bloco .tipo-produto {
  color: #666666;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  font-weight: bold;
}

.info-bloco .nome-produto {
  font-size: 24px;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
.info-bloco .rating-and-stars {
  margin: 8px 0 12px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  bottom: 15px;
}
.info-bloco .number-rating{
  margin-right: 8px;
  width: 24px;
  height: 20px;
  background-color: #03a691;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-bloco .number {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: white;
}

.info-bloco i {
  color: #E16C02;
  font-size: 16px;
}

.info-bloco .nome-lugar {
  font-size:1.5rem;
  color: #666666;
}

.grid-main div img{
  width: 100%;
  height: 30%;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  object-fit: cover;
}

footer{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color:#4dff4d;
  min-height: 50px;
}
