@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.comentario::-webkit-scrollbar {
  display: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

.banner{
width: 100%;
}

body{
  background-color:white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

h2{
font-size: 1.5rem;
color: #0053b3;
text-align: center;
margin: 20px auto;
}

button{
cursor: pointer;
transition: 0.2s;
}

/* inicio cards de promoções*/
.grid-main{
  width: 99%;
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  flex-wrap: wrap;
}

.grid-main .div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: calc((100% - 40px)/4);
  box-shadow: 1px 8px 16px rgba(68,68,68,0.2);
  border: 1px solid #cccccc;
  margin: 10px auto;
  height: auto;
}

.info-bloco {
  padding: 5px 24px;
  margin: auto;
}

.produto{
  min-height: 4rem;
}

.info-bloco .tipo-produto {
  color: #666666;
  font-size: 0.7rem;
  letter-spacing: 1px;
  line-height: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  font-weight: bold;
}

.info-bloco .nome-produto {
  font-size: 1rem;
  font-weight: bold;
}

.info-bloco .rating-and-stars {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.info-bloco .number-rating{
  text-align: center;
  margin-right: 8px;
  height: 1.4rem;
  width: 2rem;
  background-color:#03a691;
  color: white;
  font-size: 1rem;
}

.star-rating{
  display: flex;
  align-items: flex-end;
}

.info-bloco i {
  color: #E16C02;
  font-size: 1.5rem;
  font-style: normal;
}

.info-bloco .nome-lugar {
  font-size: 1rem;
  color: #666666;
}

.bloco-de-preco{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 2px auto 15px auto;
  height: 65px;
}

.bloco-de-preco .descricao-preco {
  width: 100%;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  margin: 5px auto;
  text-align: center;
}

.bloco-de-preco .preco-g {
  text-align: center;
  display: flex;
  margin: auto;
}

.bloco-de-preco .preco {
  font-size: 1.1rem;
  margin: auto;
  font-family: Arial, sans-serif;
}

.bloco-de-preco .real {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  margin-top: 15px;
  font-family: Arial, sans-serif;
}

.bloco-de-preco .valor-total {
  opacity: 0.4;
  font-size: 0.8rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: Arial, sans-serif;
  margin-bottom: 5px;
  margin-left: 5px;
  text-decoration: line-through;
}

.promocao{
  display: flex;
  flex-flow: column wrap;
  height: auto;
}

.desconto{
  background-color:#e69500;
  padding: 5px;
  margin: auto;
  font-size: 0.9rem;
  color: white;
  margin-left: 10px;
}

.grid-main div img{
  width: 100%;
  height: 30%;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  object-fit: cover;
}
/* fim card de promoções */
.titulo {
  width: 95%;
  display: block;
  margin: 30px auto;
  margin-left: 3vh;
  font-family: Arial, sans-serif;
}

.sobre-lugar {
  background-color: white;
  font-family: Arial, sans-serif;
  font-weight: lighter;
  margin: 30px auto;
  width: 98%;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(68,68,68,0.2);
}

.ver_mais{
  text-align: center;
  display: block;
  width: 100%;
  padding: 8px;
  border: none;
  background-color:#03a691;
  color: white;
  font-weight: bold;
  transition: 0.2s;
  border: solid 1px #03a691;
  font-size: 1rem;
}

.ver_mais:hover{
  background-color:white;
  color: #03a691;
}

/*
BLOCO CONHEÇA O BRASIL
 */

 .brasil{
   width: 95%;
   height: 720px;
   display: flex;
   flex-wrap: wrap;
   margin: 0 auto;
   align-content: space-between;

 }

 .card-brasil{
   width: 49%;
   height: 350px;
   background-repeat: no-repeat;
   background-size: cover;
   box-shadow: 1px 8px 16px rgba(68,68,68,0.2);
   border: 1px solid #cccccc;
   margin: 0 auto;
   margin-bottom: 20px;
   border-radius: 10px;
 }

 .card-brasil:hover{
   position: relative;
   bottom: 5px;
   box-shadow: 1px 8px 16px rgba(68,68,68,0.6);
 }

 .card-brasil button{
   width: 50%;
   height: 55px;
   border: none;
   color: white;
   font-size: 20px;
   margin-top: 270px;
   margin-left: 50%;
 }



 /*
FIM CARDS BRASIL
  */

  /* Card info - cancelamento gratis */

  .box-info{
    width: 95%;
    height: 150px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;

  }

.box-info .card-info{
  width: 25%;
  height: 90%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.card-info img{
  height: 70px;
  width: 70px;
  margin: 0 auto;
}

.box-texto{
  display: block;
  margin-left: 5px;
}

.box-texto h2{
  font-size: 15px;
  margin: 0;
  text-align: left;
}

.box-texto p{
  font-size: 12px;
  margin-top: 5px;
}

  /* fim card info */

.coments{
  margin-top: 20px;
  width: 95%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 20px;
}

.section-comentario{
  line-height: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding: 12px;
  width: calc( ( 100% - 40px )/4);
  background-color: rgba(25, 141, 169, 0.2);
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 10px;
  height:auto;
  margin: 10px auto;
}

.section-comentario .img-nome-horario {
  height:auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.img-nome-horario img {
  margin: 10px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: block;
}

.section-comentario hr{
  color: black;
  width: 90%;
  margin-top: 8px;
}

.horario{
  width: 100%;
  text-align: left;
  height: 50%;
  margin: 5px auto;
  font-weight: bold;
}

.nome {
width: 70%;
font-size: 1rem;
text-align: center;
}

.comentario{
  width: 100%;
  height: 150px;
  font-size: 0.8rem;
  margin: 5px auto;
  overflow: scroll;
}
.comment-area{
  margin:10px auto;
  width:90%;
  display: flex;
  flex-flow: row wrap;
}

@media (max-width:750px){

  .section-comentario,.grid-main .div{
  width: calc( 50% - 20px );
  }

  footer{
    flex-flow: wrap;
    padding: 20px;
  }

  .footer_info{
    width: calc( (100% - 20px) / 3 );
  }

  #social_info{
  margin: 20px auto;
  }

}

@media (max-width:500px){

  .section-comentario,.grid-main .div{
  width: 95%;
  }

  .footer_info{
    display: none;
  }
}
