*{
  transition: 0.2s;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
  /* background-color: #def5ff; */
  background-image: url('/img/BG3.jpg');
  background-position: left;
  background-repeat:repeat-x;
}

main{
  width: 90%;
  margin: 0 auto;

}

.title{
  width: 70%;
  height: 50px;
  background-color: #c94f63;
  border: 1px solid #c94f63;
  margin: auto;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 13px;
}

.title h2{
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 19px;
}

.box-cad-hotel{
  width: 90%;
  margin: auto;
  margin-bottom: 50px;

}

.cad-info-hotel{
  width: 77%;
  margin: auto;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 1px 8px 16px rgba(68,68,68,0.6);
  background-color: white;
}

.cad-info-hotel p{
  color: #c94f63;
  font-family: sans-serif;
  margin-left: 10px;
  font-size: 13px;
  margin-top: 20px;
}

.cad-info-hotel input{
  width: 100%;
  height: 40px;
  border-radius: 15px;
  border: 1px solid #e68a99 ;
  padding-left: 10px;
  font-size: 15px;
}

.cad-info-hotel input, .cad-info-hotel textarea:focus{
  outline: none;
}

.box-cep{
  display: flex;
  width: 100%;

}



.cep{
  width: 32%;
  margin-right: auto;
}

.cep2{
  width: 33%;
  margin-left: auto;
}

.box-check-box{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;

}

.check-box{
  width: 30%;
  height: 20px;
  display: flex;
  align-items: center;
  margin-top: 15px;

}
.check-box input{
  width: 20px;
  height: 20px;
}
.check-box p{
  font-size: 15px;
  margin-bottom: 23px;
}

.check-box select{
  width: 45px;
  height: 25px;

  border-radius: 5px;

  text-align: center;
}



.cad-info-hotel textarea{
  border-radius: 15px;
  width: 100%;
  border: 1px solid #e68a99 ;
  padding: 10px;
  font-size: 17px;
}

::placeholder{
  font-size: 12px;

}

.upload-image input{
  background-color: #c94f63;
  padding-top: 10px;
  color: #e68a99;;
  font-size: 13px;

}

input[type=file]::-webkit-file-upload-button {
    border: none;
    background: #c94f63;
    color: white;
}

.cad-info-hotel button{
  background-color: #198da9;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  margin-top: 20px;
}


/* ===========css extre pg editar dados hotel ======= */

.exibir-fotos{
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.exibir-fotos h2{
  color: grey;
}

.box-fotos{
  display: flex;
  width: 100%;
  height: 250px;
}

.card-fotos{
  width: 30%;;
  height: 200px;
  border-radius: 15px;
  box-shadow: 1px 8px 16px rgba(68,68,68,0.6);
  margin-top: 20px;
  margin-right: 10px;
}

.card-fotos img{
  width: 100%;
  height: 170px;
  border-radius: 15px 15px 0px 0px ;
}

.lixo-icon{
  width: 30%;
  height: 30px;
  display: flex;
  margin: auto;

}

.lixo-icon i{
 color : #c94f63;
 margin-right: 5px;
}

.lixo-icon a{
  color: #c94f63;
  text-decoration: none;
  font-size: 14px;


}
