@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  min-height: 50px;
  font-family: Arial, sans-serif;
  font-size: 1.6rem;
  background-color:#198da9;
  color: white;
  padding: 20px;
}

.footer_info{
text-align: left;
min-width: calc( ( 100% - 120px )/4);
display: flex;
flex-flow: column;
}

.footer_info h3{
color: rgba(255,255,255,0.6);
font-size: 1.2rem;
text-transform: uppercase;
margin: 0;
width:100%;
margin-bottom: 0.5rem;
}

.footer_info a{
font-size: 0.8rem;
margin: 5px;
transition: 0.2s;
color: white;
text-decoration: none;
}

.footer_info a:hover{
color: #33403c;
}

#social_info{
display: flex;
flex-flow: row wrap;
text-align: center;
justify-content: center;
}

#social_info img{
margin: 5px 0;
width: 40px;
min-height: 30px;
}
