button:focus, input:focus{
  outline: none;
}

#saida, #entrada{
font-size: 1rem;
}

header{
  width: 100%;
  height: 190px;
  background-color: #0085a8;
  font-size: 16px;
}

.header-A{
  width: 100%;
  height: 40%;
  background-color: inherit;
  display: flex;
  align-items: center;
  padding-top: 10px;
  margin-left: auto;
}

.header-A img{
  height: 100%;
  margin-left: 3%;
}

.botoes_header{
margin-left: auto;
margin-right: 4.5%;
margin-bottom: 30px;
width: auto;
}

.header-A h1 a{
  color: white;
  font-size: 1.3rem;
  margin-left: 10px;
  text-decoration: none;
  font-family:arial;
}

.botoes_header a{
  text-transform: capitalize;
  color: inherit;
  text-decoration: none;
  color: white;
  padding: 5px 8px;
  text-decoration: none;
  border: solid 1px white;
  border-radius: 10px;
}

.botoes_header .dropbtn {
  width: 100%;
  font-size: 1rem;
  color: white;
  background-color: inherit;
  font-family: inherit;
  text-transform: capitalize;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  margin-top: 5px;
}

.dropdown-content a {
  width: 100%;
  display: block;
  text-align: left;
}

.dropdown-content i{
  width: 1rem;
  color: grey;
}

.botoes_header a:hover {
  background-color: #ddd;
  color: black;
}

.botoes_header:hover .dropdown-content {
  display: block;
}

.header-B{
  width: 100%;
  height: 60%;
  background-color: inherit;
}

.header-B form{
  display: flex;
  align-items: center;
}

.input1{
  width: 30%;
  margin-top: 20px;
  height: 70px;
  margin-left: 3%;
}

.input2{
  width: 15%;
  margin-top: 20px;
  height: 70px;
  margin-left: 10px;
}

.input3{
  width: 10%;
  margin-top: 20px;
  height: 70px;
  margin-left: 10px;
}

.input1 input{
  width: 100%;
  height: 70%;
  border-radius: 5px;
  border: none;
  padding-left: 20px;
  font-size: 20px;
  color: grey;
}

.input1 label, .input2 label, .input3 label {
  color: white;
  margin-left: 7px;
  font-size: 12px;
}

.input2 input{
  width: 100%;
  height: 70%;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  font-size: 20px;
  color: grey;
}

.box-select{
  width: 100%;
  height: 70%;
  background-color: white;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  font-size: 20px;
}

.custom-select {
  position: relative;
  font-family: Arial;
  height: 70px;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: white;
}

.select-selected:after {
  position: absolute;
  color: black;
  content: "";
  top: 14px;
  right: 0;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: grey transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent grey transparent;
  top: 7px;
  color: black;
}

.select-items div,.select-selected {
  padding: 3px 5px;
  border: 1px solid grey;
  border-color: transparent transparent rgba(255, 255, 255, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  font-size: 18px;
  padding-top: 15px;
  color: grey;
}

.select-items {
  position: absolute;
  background-color: white;
  top: 60%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
  color: grey;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
  color: grey;
}

.header-B form button{
  width: 10%;
  height: 50px;
  margin-left: 10px;
  position: relative;
  top: 17px;
  border-radius: 10px;
  background-color: rgb(255, 0, 0, 0);
  border: 2px solid white;
  color: white;
  font-size: 15px;
  position: relative;
}

.header-B form button img{
  width: 15px;
  margin-right: 10px;
}
